<%- include("../header"); %>
<div class="col-12">
    <h1>Productos</h1>
    <a href="/personas/agregar" class="btn btn-primary mb-2">Agregar</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% personas.forEach(persona => { %>
            <tr>
                <td><%= persona.nombre %></td>
                <td><%= persona.apellido %></td>
                <td>
                    <a href="/personas/editar/<%= personas.id %>" class="btn btn-warning">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="/personas/eliminar/<%= personas.id %>" class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
            <% })%>
        </tbody>
    </table>
</div>
<%- include("../footer"); %>